.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4em;
}

.homeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 4px solid black;
  border-radius: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  z-index: 100;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid black;
}

.tutorial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 4px solid black;
  border-radius: 5px;
  margin: 1rem;
  gap: 1rem;
  overflow: scroll;
}
